## Exclude every files that may contain data
*.pickle
*.xlsx
*.png
*.mp3
*.mp4
*.wav
*.csv
*.txt
*.h5
*.data*
*.pb
*.zip
*.rar
*.gz
*.tar
*.jpeg
*.jpg
*.tfrec
*.tfrecords
*.json
*.parquet
*.mat
*.ipynb_checkpoints/*
*/cfd/*
*.pts
*.mid
*.MID
*.tfrecord
L'oréal NLP/
*weights*
*checkpoint*
*.tmp
*.jsonl
*.pkl
*.sh
*.npy
*_MACOSX*
